.app-container {
  position: relative;
  height: 100%;
  
}

.carousel-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
}
.rounded-lg{
  border-radius:0px !important;
}
/* In your custom CSS file or within your Tailwind CSS setup */
.white-color-cast {
  filter: hue-rotate(90deg) brightness(110%) contrast(90%);
}
.card{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.back{
  background-color: #00f2e2;
  border:2px solid #00f2e2

}
.wallImage{
  background-image: url("../src/assets/discountWall1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border: 2px solid grey;
  padding: 2%;
}
.otherPages{
  margin-top: 40%;
}
@media screen and (max-width: 480px){
  .otherPages{
    margin-top: 80%;
  }

}
.shadow-md{
  height: fit-content;
}
.max-h-\[90vh\]{
max-height: fit-content !important;
}
